* {
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: arial, helvetica, sans-serif;
}

.clearFix {
    clear: both;
}

.container {
    width: 980px;
    margin: 0 auto;
}


body {
    margin: 0;
    padding: 0;
}

/****** HEADER - Barra superior *********/
#header #barraSuperior {
    height: 34px;
    border-bottom: 1px solid #e4e4e4;
    line-height: 34px;
}

#header #barraSuperior h3 {
    font-size: 12px;
    color: #878787;
    font-weight: normal;
    display: inline;
}

#header #barraSuperior span {
    color: #287fb8;
    font-weight: bold;
}

#header #barraSuperior ul {
    float: right;
}

#header #barraSuperior ul li {
    display: inline;
}

#header #barraSuperior ul li a {
    font-size: 12px;
    color: #287fb8;
}

#header #barraSuperior ul li a:hover {
    text-decoration: underline;
}

#header #barraSuperior img {
    float: left;
    margin-top: 11px;
    margin-right: 3px;
}
/****** /HEADER - Barra superior *********/

/****** HEADER - Barra inferior *********/
#header #barraInferior {
    height: 50px;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
}

#header #barraInferior ul {
    float: left;
    margin-left: 200px;
    margin-top: 8px;
}

#header #barraInferior ul li {
    display: inline;
}

#header #barraInferior ul li a {
    padding: 10px 15px 10px 15px;
    height: 35px;
    line-height: 35px;
    border-right: 2px solid #f3f3f3;
    font-size: 13px;
    color: #888;
}

#header #barraInferior ul li a:hover{
    background: #f7f7f7;
}

#header #barraInferior ul li .ultimo {
    border-right: none;
}

#header #barraInferior #pesquisa {
    border-radius: 5px;
    float: right;
    height: 30px;
    width: 255px;
    border: 1px solid #e4e4e4;
    margin-top: 7px;
}

#header #barraInferior #botaoPesquisar {
    background: url(../img/pesquisa.jpg);
    height: 30px;
    width: 33px;
    border: none;
    position: absolute;
    top:7px;
    right: 76px;
}
/****** /HEADER - Barra inferior *********/

/****** BANNER ***************************/
#banner {
    height: 350px;
    border-bottom: 1px solid #e4e4e4;
    background: #f7f7f7;
}

/****** NOTICIAS ***********************/
#noticias {margin-top: 30px;}
#noticias .painel {width: 295px;float: left;border-right: 2px solid #e4e4e4;}
#noticias .esquerda {padding-right: 20px;}
#noticias .centro {padding-right: 20px;padding-left: 20px;}
#noticias .ultimo {border-right: none;padding-left: 20px;}
#noticias .painel h2 {font-size: 16px;margin-bottom: 10px;color: #777;}
#noticias .painel p {font-size: 14px;color: #777;}
#noticias img {float: left;}
#noticias .painel .conteudoPainel {margin-left: 50px;}

/****** ALUNOS ************************/
#alunos {
    background: #f7f7f7;
    height: 115px;
    margin-top: 30px;
}

#alunos .painelAlunos {
    background: #fff;
    width: 286px;
    height: 77px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#alunos .painelAlunos {
    padding: 23px 10px 10px 10px;
}

#alunos .ultimo {
    float: right;
}

#alunos .painelAlunos h3 {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

#alunos .painelAlunos p {
    font-size: 14px;
    color: #666;
}
