* {
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: arial, helvetica, sans-serif;
}

.clearFix {
    clear: both;
}

.container {
    width: 980px;
    margin: 0 auto;
}


body {
    margin: 0;
    padding: 0;
}

/****** HEADER - Barra superior *********/
#header #barraSuperior {
    height: 34px;
    border-bottom: 1px solid #e4e4e4;
    line-height: 34px;
}

#header #barraSuperior h3 {
    font-size: 12px;
    color: #878787;
    font-weight: normal;
    display: inline;
}

#header #barraSuperior span {
    color: #287fb8;
    font-weight: bold;
}

#header #barraSuperior ul {
    float: right;
}

#header #barraSuperior ul li {
    display: inline;
}

#header #barraSuperior ul li a {
    font-size: 12px;
    color: #287fb8;
}

#header #barraSuperior ul li a:hover {
    text-decoration: underline;
}

#header #barraSuperior img {
    float: left;
    margin-top: 11px;
    margin-right: 3px;
}
/****** /HEADER - Barra superior *********/

/****** HEADER - Barra inferior *********/
#header #barraInferior {
    height: 50px;
    border-bottom: 1px solid #e4e4e4;
}

#header #barraInferior form {
    position: relative;
}

#header #barraInferior ul {
    float: left;
    margin-left: 200px;
    margin-top: 8px;
}

#header #barraInferior ul li {
    display: inline;
}

#header #barraInferior ul li a {
    padding: 10px 15px 10px 15px;
    height: 35px;
    line-height: 35px;
    border-right: 2px solid #f3f3f3;
    font-size: 13px;
    color: #888;
}

#header #barraInferior ul li a:hover{
    background: #f7f7f7;
}

#header #barraInferior ul li .ultimo {
    border-right: none;
}

#header #barraInferior #pesquisa {
    border-radius: 5px;
    float: right;
    height: 30px;
    width: 255px;
    border: 1px solid #e4e4e4;
    margin-top: 7px;
}

#header #barraInferior #botaoPesquisar {
    background: url(../img/pesquisa.jpg);
    height: 30px;
    width: 33px;
    border: none;
    position: absolute;
    top:9px;
    right: 0px;
}
/****** /HEADER - Barra inferior *********/

/****** BANNER ***************************/
#banner {
    height: 350px;
    border-bottom: 1px solid #e4e4e4;
    background: #f7f7f7;
}

/****** NOTICIAS ***********************/
#noticias {margin-top: 30px;}
#noticias .painel {width: 295px;float: left;border-right: 2px solid #e4e4e4;}
#noticias .esquerda {padding-right: 20px;}
#noticias .centro {padding-right: 20px;padding-left: 20px;}
#noticias .ultimo {border-right: none;padding-left: 20px;}
#noticias .painel h2 {font-size: 16px;margin-bottom: 10px;color: #777;}
#noticias .painel p {font-size: 14px;color: #777;}
#noticias img {float: left;}
#noticias .painel .conteudoPainel {margin-left: 50px;}

/****** ALUNOS ************************/
#alunos {
    background: #f7f7f7;
    height: 130px;
    margin-top: 30px;
    margin-bottom: 15px;
}

#alunos .painelAlunos {
    background: #fff;
    width: 286px;
    height: 77px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#alunos .painelAlunos {
    padding: 10px 10px 3px 10px;
}

#alunos .ultimo {
    float: right;
}

#alunos .painelAlunos h3 {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

#alunos .painelAlunos p {
    font-size: 14px;
    color: #666;
}

/****** CURSOS ****************/
#cursos h3 {
    margin: 0 auto;
    display: table;
    text-transform: uppercase;
    border: 1px solid #EEE;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    color: #6c6c76;
    position: relative;
    background: #fff;
    margin-bottom: 30px;
}

#cursos h3:after {
    height: 1px;
    width: 800px;
    background: none repeat scroll 0 0 #EEE;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    z-index: -1;
}

#cursos .categorias a {
    width: 237px;
    float: left;
    height: 60px;
    background: #ebf3f8;
    margin-right: 10px;
    transition: ease .45s;
    -webkit-transition: ease .45s;
    -moz-transition: ease .45s;
    -o-transition: ease .45s;
    margin-bottom: 15px;
}

#cursos .categorias .ultimo {
    margin: 0;
}

#cursos .categorias .icone {
    height: 100%;
    width: 60px;
    display: block;
    background: #3887bd;
    float: left;
}

#cursos .categorias .texto .titulo1 {
    font-size: 13px;
    color: #EEE;
    display: table;
    margin: 12px auto 3px auto;
    color: #777;
    transition: ease .25s;
    -webkit-transition: ease .25s;
    -moz-transition: ease .25s;
    -o-transition: ease .25s;
}

#cursos .categorias .texto .titulo2 {
    font-weight: bold;
    display: table;
    margin: 0 auto;
    color: #464652;
    transition: ease .25s;
    -webkit-transition: ease .25s;
    -moz-transition: ease .25s;
    -o-transition: ease .25s;
}

#cursos .categorias a:hover .titulo1 {
    color: #fff;
}

#cursos .categorias a:hover .titulo2 {
    color: #fff;
}

#cursos .categorias a:hover {
    background: #3887bd;
}

#cursos .categorias a:hover .icone {
    border-right: 3px solid #fff;
}

/********************FOOTER**************/
footer {
    height: 500px;
    border-top: 2px solid #eee;
    padding-top: 10px;
}

footer #footerSuperior {
    text-align: center;
    margin-bottom: 20px;
}

footer #footerSuperior ul li {
    display: inline;
    margin-right: 5px;
    border-right: 1px solid #ccc;
    padding-right: 5px;
}

footer #footerSuperior ul li:last-child {
    border: none;
}

#footer #footerSuperior ul li a {
    font-size: 13px;
    color: #287fb8;
    text-decoration: underline;
}

#footer #footerEsquerda {
    width: 326px;
    float: left;
}

#footer #footerEsquerda ul li {
    display: inline;
}

#footer #footerCentro {
    float: left;
    width: 326px;
}

#footer #footerCentro img {
    float: left;
    margin-right: 10px;
}

#footer #footerCentro dl dd {
    font-size: 16px;
    color: #ccc;
}

#footer #footerCentro dl dt {
    font-size: 29px;
    color: #3887bd;
    font-weight: bold;
}

#footer #footerDireita {
    float: right;
}

#footer #footerDireita .email {
    background: url(../img/email.png);
    width: 151px;
    height: 56px;
    content: " ";
    cursor: pointer;
    display: block;
    float: left;
}

#footer #footerDireita .chat {
    background: url(../img/chat.png);
    width: 151px;
    height: 56px;
    content: " ";
    cursor: pointer;
    display: block;
    float: right;
}